doctype html 
html 
head
    link(rel="stylesheet", href="cdn.jsdelivr.net/npm/bootstraps.3.2/dist/css/bootstrap.min.css")
    script(src="")
body 
    h1 Selamat datang di Express js 
    img(src='/images/download.jpg',width = "400")
    a(href = "simponi.mdp.ac.id",targer = "_blank") Buka simponi
    h1 nama= #{nama}
    h2 npm= #{npm}